<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="language" value="English"/>
		<add key="maxBackupCount" value="10"/>
		<add key="offsetMode" value="0"/>
		<add key="unicodeSupport" value="0"/>
		<add key="advanceMode" value="0"/>
		<add key="donX" value="64"/>
		<add key="donY" value="64"/>
		<add key="katX" value="448"/>
		<add key="katY" value="64"/>
		<add key="finisherDonX" value="64"/>
		<add key="finisherDonY" value="320"/>
		<add key="finisherKatX" value="448"/>
		<add key="finisherKatY" value="320"/>
	</appSettings>
</configuration>